__pycache__/config.cpython-312.pyc
__pycache__/environment.cpython-312.pyc
__pycache__/individual.cpython-312.pyc
__pycache__/mutation.cpython-312.pyc
__pycache__/population.cpython-312.pyc
__pycache__/reproduction.cpython-312.pyc
__pycache__/selection.cpython-312.pyc
__pycache__/visualization.cpython-312.pyc
